@model XCoach.Models.AthleteRace

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AthleteRace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @Html.DisplayNameFor(model => model.Athlete.FirstName)
            @Html.DisplayFor(model => model.Athlete.FirstName)
            <div class="form-group">
                <label asp-for="ProjectedTime" class="control-label"></label>
                <input asp-for="ProjectedTime" class="form-control" />
                <span asp-validation-for="ProjectedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualTime" class="control-label"></label>
                <input asp-for="ActualTime" class="form-control" />
                <span asp-validation-for="ActualTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
