@model XCoach.Models.AthleteWorkoutViewModel.AthleteWorkoutCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AthleteWorkout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="AthleteId" class="control-label"></label>
            <select asp-for="AthleteId" class="form-control" asp-items="ViewBag.AthleteId"></select>
        </div>*@
            @*@Html.DropDownList("AthleteId", (MultiSelectList)ViewBag.Athletes, new { multiple = "multiple" })*@
            @*@Html.DropDownList("AthleteId", (MultiSelectList)ViewBag.Athletes, new { multiple = "multiple"})*@
            <div class="form-group">
                <label asp-for="SelectedAthletes" class="control-label"></label>
                @*asp-items are the options in the list *@
                @*adding in the word 'multiple' makes it a multi-select list*@
                <select asp-for="SelectedAthletes" multiple asp-items="@Model.AvailableAthletesSelectList"></select>
                <span asp-validation-for="SelectedAthletes" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="AthleteWorkouts.Distance" class="control-label"></label>
                <input asp-for="AthleteWorkouts.Distance" class="form-control" />
                <span asp-validation-for="AthleteWorkouts.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AthleteWorkouts.Pace" class="control-label"></label>
                <input asp-for="AthleteWorkouts.Pace" class="form-control" />
                <span asp-validation-for="AthleteWorkouts.Pace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AthleteWorkouts.Repetition" class="control-label"></label>
                <input asp-for="AthleteWorkouts.Repetition" class="form-control" />
                <span asp-validation-for="AthleteWorkouts.Repetition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AthleteWorkouts.WorkoutDate" class="control-label"></label>
                <input asp-for="AthleteWorkouts.WorkoutDate" class="form-control" />
                <span asp-validation-for="AthleteWorkouts.WorkoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
